{% extends 'base.html' %}


{% block content %}
	<!-- <h2>The article is: {{ name }}</h2>
	<h2>The author is: {{ author }}</h2>

	<h2>ป้ายกำกับ</h2>
	<ul>
		{% for tag in tags %}
			<li>{{tag}}</li>
		{% endfor %}
	</ul>
	<h2>ความนิยมของบทความ</h2>

	{% if rating > 3 %}
		<h3>ดีมาก</h3>
	{% else %}
		<h3>ไม่ได้รับความนิยม</h3>
	{% endif %}

 -->
	<h2 align="center">แสดงข้อมูลบทความ</h2>
	<table class="table">
	  <thead class="thead-dark">
	    <tr>
	      <th scope="col">รหัสบทความ</th>
	      <th scope="col">บทความ</th>
	      <th scope="col">รายละเอียด</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for post in posts %}

	    <tr>
	      <th scope="row">{{post.id}}</th>
	      <td>{{post.name}}</td>
	      <td>{{post.desc}}</td>
	    </tr>

	    {% endfor %}
	    
	  </tbody>
	</table>

{% endblock content %}